<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Minesweeper is a single-player puzzle video game. The objective of the game is to clear a rectangular board containing hidden " mines
        " or bombs without detonating any of them, with help from clues about the number of neighboring mines in each field. The game originates from the 1960s, and it has been written for many computing platforms in use today. It has many variations and offshoots.">
    <title>Minesweeper</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="https://websdk.sawolabs.com/sawo.min.js"></script>
    <script type="text/javascript" src="/javascripts/home.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- CSS only -->
</head>

<body>


    <!-- heading -->
    <div class="heading">
        <h1 id="title-rule" data-bs-toggle="modal" data-bs-target="#exampleModal">Mineswee<img class="heading-img" src="/images/flag.png" alt="" />er</h1>

    </div>

    <!-- login icon -->
    <div class="login-icon" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Login">
        <i class="fas fa-sign-in-alt fa-lg"></i>
    </div>

    <!-- login user name -->
    <div class="user-name">

    </div>
    <!-- score -->
    <div class="score">
        <div class="highest-score">
            <div class="score-head">
                Fastest Time
            </div>
            <div class="score-number">
                000
            </div>
        </div>
        <div class="last-score">
            <div class="score-head">
                Last Game Time
            </div>
            <div class="score-number">
                000
            </div>
        </div>
    </div>
    <!-- levels -->
    <div class="levels">
        <div class="easy">Easy</div>
        <div class="medium">Medium</div>
        <div class="hard">Hard</div>
    </div>

    <!-- info -->

    <div class="info" data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-toggle="tooltip" data-bs-placement="bottom" title="About Minesweeper">
        <i class="fas fa-info-circle fa-lg"></i>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content rules">
                <div class="modal-header">
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h1>Rules</h1>
                    <br><br>
                    <p class="modal-rule">Minesweeper rules are very simple. The board is divided into cells, with mines randomly distributed. To win, you need to open all the cells. The number on a cell shows the number of mines adjacent to it. Using this information, you
                        can determine cells that are safe, and cells that contain mines. Cells suspected of being mines can be marked with a flag using the right mouse button.
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- footer -->
    <footer class="fixed-bottom">
        <div class="footer">Made with ❣️</div>
    </footer>

    <!-- sawo login form -->
    <div class="login-modal">
        <div class="login-div">
            <div id="sawo-container" style="height: 300px; width: 300px"></div>
        </div>
    </div>

    <!-- not logedin form -->
    <div class="please-login">
        <div class="pl-div">
            <button type="button" class="btn-close btn-close-white" aria-label="Close"></button>
            <div>
                Please Login <i class="fas fa-sign-in-alt fa-lg"></i> first
            </div>
        </div>
    </div>
</body>

</html>