<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Minesweeper is a single-player puzzle video game. The objective of the game is to clear a rectangular board containing hidden " mines
        " or bombs without detonating any of them, with help from clues about the number of neighboring mines in each field. The game originates from the 1960s, and it has been written for many computing platforms in use today. It has many variations and offshoots.">
    <title>Minesweeper</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!-- CSS only -->
</head>

<body>
    <!-- heading -->
    <div class="heading">
        <h1>Mineswee<img class="heading-img" src="/images/flag.png" alt="" />er</h1>
    </div>

    <!-- score -->
    <div class="score">
        <div class="highest-score">
            <div class="score-head">
                Highest Score
            </div>
            <div class="score-number">
                000
            </div>
        </div>
        <div class="last-score">
            <div class="score-head">
                Last Score
            </div>
            <div class="score-number">
                000
            </div>
        </div>
    </div>
    <!-- levels -->
    <div class="levels">
        <div class="easy">Easy</div>
        <div class="medium">Medium</div>
        <div class="hard">Hard</div>
    </div>
    <!-- info -->
    <div class="info">
        <i class="fas fa-info-circle fa-lg"></i>
    </div>
    <!-- footer -->
    <footer class="fixed-bottom">
        <div class="footer">Made with ❣️</div>
    </footer>
</body>

</html>