<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Play</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <!-- top bar -->
    <div class="top-bar">
        <div class="mines">
            <div class="top-head">
                Mines
            </div>
            <div class="top-number">
                00
            </div>
        </div>
        <div class="user-wish">
            Sweety, All the Best
        </div>
        <div class="time">
            <div class="top-head">
                Time
            </div>
            <div class="top-number">
                00
            </div>
        </div>
    </div>
</body>

</html>
