@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&family=Londrina+Outline&family=Love+Ya+Like+A+Sister&family=Merriweather&display=swap');
body {
    background-image: url("/images/background.png");
    color: white;
    text-align: center;
}

a {
    color: #00B7FF;
}

.heading {
    display: flex;
    justify-content: center;
    position: relative;
}

.user-name {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 1.5rem;
    display: none;
    margin: 3%;
}

.login-icon {
    margin: 3%;
}

.heading h1 {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 4rem;
    padding: 1vh;
    margin: 0;
    width: fit-content;
    text-align: center;
}

.heading-img {
    width: 45px;
}

.info {
    position: absolute;
    bottom: 60px;
    right: 25px;
}

.modal-dialog {
    max-width: 850px;
    margin: 2rem auto;
    height: 40%;
}

.modal-content {
    height: 50%;
    border: 1px solid;
    font-family: 'Love Ya Like A Sister', cursive;
}

.modal-header {
    border-bottom: 0;
}

.modal-rule {
    font-family: 'Josefin Slab';
    font-size: 1.25rem;
}

.rules {
    background-image: url("/images/background.png");
}

.score {
    display: flex;
    justify-content: space-between;
    margin: 5vh 5vw;
}

.top-bar {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 0 3vw;
    justify-content: space-between;
}

.score-head,
.top-head {
    font-family: 'Merriweather', serif;
    font-size: 1rem;
}

.score-number,
.top-number {
    font-family: 'Londrina Outline', cursive;
    text-align: center;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: white;
    font-size: 2rem;
}

.user-wish {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 2rem;
}

.levels {
    font-family: 'Love Ya Like A Sister', cursive;
    font-size: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.levels div {
    border: 2px solid #b5b5b5;
    width: fit-content;
    border-radius: 14px;
    padding: 1.5vh 7vw;
    margin: 3vh;
}


/* .levels div:hover {
    background: #ffffff29;
    font-size: smaller;
    padding: 2vh 7vw;
} */

.footer {
    font-family: 'Merriweather', cursive;
    padding: 1.5vh;
    background: #ffffff0a;
    font-size: 1rem;
}

.levels div {
    position: relative;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: all 1s;
}

.levels div:after,
.levels div:before {
    content: " ";
    width: 10px;
    height: 10px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s;
}

.levels div:after {
    top: -1px;
    left: -1px;
    border-top: 5px solid black;
    border-left: 5px solid black;
}

.levels div:before {
    bottom: -1px;
    right: -1px;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
}

.levels div:hover {
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    background: #ffffff29;
}

.levels div:hover:before,
.levels div:hover:after {
    width: 100%;
    height: 100%;
}

.score-head:hover,
.footer:hover,
.login-icon:hover,
.user-name:hover,
.info:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, .6) 30%, #000 50%, rgba(0, 0, 0, .6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

@-webkit-keyframes shine {
    from {
        -webkit-mask-position: 150%;
    }
    to {
        -webkit-mask-position: -50%;
    }
}

.score-number {
    position: relative;
    display: block;
    text-transform: uppercase;
    margin: 10px 0;
    text-decoration: none;
    color: #262626;
    font-weight: 600;
    transition: 0.5s;
    z-index: 1;
}

.score-number:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-top: 2px solid #acacac71;
    border-bottom: 2px solid #acacac71;
    transform: scaleY(2);
    opacity: 0;
    transition: 0.3s;
}

.score-number:after {
    content: '';
    position: absolute;
    top: 2px;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #acacac71;
    transform: scale(0);
    opacity: 0;
    transition: 0.3s;
    z-index: -1;
}

.score-number:hover {
    color: #fff;
}

.score-number:hover:before {
    transform: scaleY(1);
    opacity: 1;
}

.score-number:hover:after {
    transform: scaleY(1);
    opacity: 1;
}

.heading h1:hover {
    color: #ffffffab;
}

.login-modal {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000eb;
    z-index: 1;
    display: none;
}

.login-div {
    width: fit-content;
    height: fit-content;
    border: 5px solid #000000!important;
    border-radius: 10px!important;
    box-shadow: -1px -1px 17px 5px grey!important;
}

.login-icon i {
    font-size: 24px;
}

.please-login {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000eb;
    z-index: 1;
    display: none;
}

.please-login .pl-div {
    background-image: url(/images/background.png);
    height: 35vh;
    width: 60vw;
    border-radius: 10px;
    border: 2px solid;
    padding: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.pl-div div {
    font-family: 'Merriweather';
    font-size: 3rem;
}

@media screen and (min-width: 800px) {
    .login-icon {
        top: 4.6vh;
        position: absolute;
        right: 5vw;
        margin: 0;
    }
    .user-name {
        position: absolute;
        display: flex;
        right: 5vw;
        top: 4vh;
        display: none;
        margin: 0;
    }
}

@media only screen and (max-width: 500px) {
    .heading h1 {
        font-size: 2rem;
    }
    .modal-content {
        height: 85%;
    }
    .levels div {
        margin: 2vh;
    }
}

.play {
    width: 100%;
    height: 97vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerr-board {
    width: -webkit-fill-available;
    height: calc(90vh - 150px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    background-color: #dcd6bc;
    border: 5px solid #dcd6bc;
}

.board .medium {
    width: 60px;
    height: 60px;
}

.board .easy {
    width: 75px;
    height: 75px;
}

.board .hard {
    width: 40px;
    height: 40px
}

@media screen and (max-width: 900px) {
    .board {
        width: 400px;
        height: 400px;
    }
    .board .medium {
        width: 40px;
        height: 40px;
    }
    .board .easy {
        width: 50px;
        height: 50px;
    }
    .board .hard {
        width: 26.6666666667px;
        height: 26.6666666667px
    }
}

@media screen and (max-width: 500px) {
    .board {
        width: 250px;
        height: 250px;
    }
    .board .medium {
        width: 25px;
        height: 25px;
    }
    .board .easy {
        width: 31.25px;
        height: 31.25px;
    }
    .board .hard {
        width: 16.6666666667px;
        height: 16.6666666667px
    }
    .top-bar {
        flex-direction: column;
    }
    .top-bar div {
        margin: 3% 0;
    }
}

.valid {
    border: 5px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    box-sizing: border-box;
}

.checked {
    border: 2px solid;
    background-color: #cecab7;
    border-color: #9c998d;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bomb {
    border: 5px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    border-color: #f5f3eb #bab7a9 #bab7a9 #fff9db;
    box-sizing: border-box;
}

.one {
    color: #e74646;
}

.two {
    color: #ffa702;
}

.three {
    color: #4f6100;
}

.four {
    color: #048585;
}

.five {
    color: #1954d4;
}

.six {
    color: rgb(106, 11, 170);
}

.seven {
    color: #ff00d4;
}

.eight {
    color: #030000;
}

#result {
    margin-top: 5px;
    color: #9b280f;
}